@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5faedf;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #72b6df;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-inter: var(--font-inter);
  --font-cairo: var(--font-cairo);
}

body {
  @apply bg-background text-foreground font-inter;
}

html[lang="ar"] body {
  @apply font-cairo;
}

nav {
  @apply w-full max-w-2xl bg-primary/90 px-2 py-2
    border-2 border-s-0 border-primary
    flex items-center justify-end gap-6
    rounded-e-full backdrop-blur-lg mt-4
    shadow-lg shadow-primary/20;
}

nav a {
  @apply hover:bg-white/10 text-white rounded-full px-6 py-1 transition-colors duration-200;
}
